body {
    margin: 0px;
}

#map {
    display : block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
}

.ocean {
    fill : rgb(150, 205, 251);
}


svg text::selection {
    background: none;
}

div {
    background-color: red;
    width: 10vh;
    height: 10vh;
    margin-bottom: 2vh;
    margin-left: 2vh;
}

#england {
    margin-top: 2vh;
    background-color: darkblue;
}

#germany {
    background-color: black;
}

#russia {
    background-color: lightgrey;
}

#turkey {
    background-color: yellow;
}

#austria {
    background-color: red;
}

#italy {
    background-color: green;
}

#france {
    background-color: cornflowerblue;
}

select {
    position: absolute;
    top: 2vh;
    right: 2vh;
}

button {
    position: absolute;
    top: 1.8vh;
    width: 10vh;
}

#save {
    right: 9vh;
}

#delete {
    right: 19vh;
}

#reset {
    right: 29vh;
}