body {
    margin: 0px;
}

#map {
    display : block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
}

.ocean {
    fill : rgb(150, 205, 251);
}


svg text::selection {
    background: none;
}

#colorContainer {
    margin-top: 2vh;
    width: 50vh;
}

.colorRow {
    width: 50vh;
    height: 15vh;
}

div {
    width: 15vh;
    height: 15vh;
    margin-bottom: 2vh;
    margin-left: 2vh;
    line-height: 15vh;
    text-align: center;
    color: white;
    float: left;
}

#england {
    background-color: #51518E;
}

#germany {
    background-color: #5d5a55;
}

#russia {
    background-color: #757d91;
}

#turkey {
    background-color: #b9a61c;
}

#austria {
    background-color: #9a6f6b;
}

#italy {
    background-color: #748d50;
}

#france {
    background-color: #6590b7;
    margin-left: 9.5vh;
}

select {
    position: absolute;
    top: 2vh;
    right: 2vh;
}

button {
    position: absolute;
    top: 1.8vh;
    width: 10vh;
}

button {
    background-color: white;
    border: 1px solid black;
    height: 6vh;
}

select {
    background-color: white;
    border: 1px solid black;
    height: 4vh;
    margin-top: 1vh;
}

button:focus {
    outline:0;
}

select:focus {
    outline:0;
}

#save {
    right: 9vh;
}

#delete {
    right: 20vh;
}

#reset {
    right: 31vh;
}