body {
    margin: 0px;
}

#map {
    display : block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    left: 0;
    right: 0;
    top: 0;
    width: 65vw;
}

svg text::selection {
    background: none;
}

#colorLeft {
    margin-top: 2vw;
    width: 15vw;
    float: left;
}

#colorRight {
    margin-top: 10.5vw;
    width: 15vw;
    float: right;
}

.colorRow {
    height: 7vw;
    width: 15vw;
    display: flex;
    justify-content: space-around;
}

div {
    width: 7vw;
    height: 7vw;
    margin-bottom: 1vw;
    line-height: 7vw;
    text-align: center;
    color: white;
}

#england {
    background-color: #51518E;
}

#germany {
    background-color: #5d5a55;
}

#russia {
    background-color: #757d91;
}

#turkey {
    background-color: #b9a61c;
}

#austria {
    background-color: #9a6f6b;
}

#italy {
    background-color: #748d50;
}

#france {
    background-color: #6590b7;
}

select {
    position: absolute;
    top: 2vw;
    right: 2vw;
}

button {
    position: absolute;
    top: 1.8vw;
    width: 7vw;
    height: 3vw;
    background-color: white;
    border: 1px solid black;
}

select {
    background-color: white;
    border: 1px solid black;
    height: 2vw;
    margin-top: .333333vw;
}

button:focus {
    outline:0;
}

select:focus {
    outline:0;
}

#save {
    right: 6vw;
}

#delete {
    right: 14vw;
}

#reset {
    right: 22vw;
}